html,
body,
#app {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: auto;
    min-width: 1366px;
}


.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card{
    box-shadow: 0 1px 1px rgba(0,0,0,0.15) !important;
}

.el-table  {
    margin-top: 15px;
  }

  .el-pagination {
    margin-top: 15px;
  }
  
  .zk-table__cell-inner {
    font-size: 14px;
  }
  .ql-editor{
    min-height: 300px;
  }
  .el-cascader-menu__list{
    max-height: 240px;
  }
  .com-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .com-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .com-chart {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  canvas{
    border-radius: 20px;
  }